body{
  background-color: #00002B;
}
h1{
  font-family: Arial;
  font-size: 3.5em;
  color: yellow;
}
p{
  font-family: Arial;
  font-size: 1.875em;
  color: yellow;
  
}
img{
  width: 16.67%;
  white-space: nowrap;
  
}
ul{
  display: block;
  margin-right: auto;
  width: 85%
}
img[id]{
  filter: grayscale(1);
  width: 10%
}